@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.search {
    background-image: url('/Users/anoushkaarora/t_all/tennis-alliance/src/assets/image 24.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-top: 2%; 
    width: 35%;
    font-size: 18px; 
    color: black; 
    padding: 12px 15px;
    border-color: transparent; 
    border-radius: 10px;
    background-color: #0E8FCC;
    font-family: 'Inter', sans-serif;
  }

.label {
    display: flexbox;
    place-items: center;
    margin-left: 370px; 
    border-radius: 10px;
    background-color: #0E8FCC;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding: 12px 15px;
   
}

.parent {
    display: flexbox;
    place-items: center;
    margin-left: 370px; 
}

.participantitem {
    margin: 0 auto;
    background-color: #E4F5E2;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 4px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.participantcontainer {
    
    margin-left: 350px; 
    margin-right: 350px; 
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    display:flexbox;
    place-items: center;


}

.name {
    margin-right: 10%; 

}


.email {
    margin-right: 10%; 
}


.participantitem1 {
    margin: 0 auto;
    background-color: #9acfce;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 4px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}