.search {
    margin-left: 25.7%;
    margin-top: 1%;
    width: 30%;
    font-size: 18px;
    color: black;
    padding: 12px 15px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #0e8fcc;
}

.filter {
    width: 18%;
    font-size: 18px;
    color: black;
    padding: 12px 15px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #0e8fcc;
    margin-left: 0.5%;
    text-align: left;
}

.label {
    display: flexbox;
    place-items: center;
    margin-left: 370px;
    border-radius: 10px;
    background-color: #0e8fcc;
    font-size: 15px;
    padding: 12px 15px;
}

.parent {
    display: flex;
}

.filterbar {
    background-color: #aacdee;
    border-radius: 20px;
    padding-bottom: 1.5%;
    padding-left: 20px;
    width: 60%;
    margin-left: 300px;
}

.checkbox {
    margin-right: 15px;
    margin-left: 5px;
}
.box {
    margin-top: -20px;
}
.button {
    margin-left: 56%;
}
.apply {
    border-color: transparent;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #000c79;
}
.parent_bottom {
    padding-top: 2%;
    display: flex;
}

.filterbar_search {
    margin-top: 1%;
    margin-right: 1%;
    width: 30%;
    font-size: 18px;
    color: black;
    padding: 5px 15px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #ffff;
}

.participantitem {
    margin: 0 auto;
    background-color: #e4f5e2;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 4px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.participantcontainer {
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 5px;
    display: flexbox;
    place-items: center;
}

.name {
    margin-right: 10%;
}

.email {
    margin-right: 10%;
}

.participantitem1 {
    margin: 0 auto;
    background-color: #9acfce;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 4px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}
