.header {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 16px 32px;
    background-color: #b7f4ff;
    z-index: 100;
}

.logo {
    margin-left: auto;
}
