.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100%;
    width: var(--max-width);
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition:
        background 200ms,
        border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}

.center::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
}

.center::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
}

.center::before,
.center::after {
    content: "";
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
}

.logo {
    position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }

    .description {
        font-size: 0.8rem;
    }

    .description a {
        padding: 1rem;
    }

    .description p,
    .description div {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
    }

    .description p {
        align-items: center;
        inset: 0 0 auto;
        padding: 2rem 1rem 1.4rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
        background: linear-gradient(
            to bottom,
            rgba(var(--background-start-rgb), 1),
            rgba(var(--callout-rgb), 0.5)
        );
        background-clip: padding-box;
        backdrop-filter: blur(24px);
    }

    .description div {
        align-items: flex-end;
        pointer-events: none;
        inset: auto 0 0;
        padding: 2rem;
        height: 200px;
        background: linear-gradient(
            to bottom,
            transparent 0%,
            rgb(var(--background-end-rgb)) 40%
        );
        z-index: 1;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");

.body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

.allDivs {
    margin: 0 auto;
    width: 752px;
    position: relative;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.hhhr {
    margin: 0 auto;
    border: none;
    border-top: 2px solid; /* Set border properties */
    color: rgba(0, 0, 0, 0.1);
}

/* Style for first and last name text boxes */
.individualNames {
    width: 27em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
}

/* Row ordering for name text boxes */
.textNames {
    /* margin: 0 auto; Add this line to center the container horizontally */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 0.5em;
    /* margin: 0 auto; */
}

.nameTitles {
    display: flex;
    flex-direction: column;
}

.numTitles {
    display: flex;
    flex-direction: column;
}

.personal {
    display: flex;
    flex-direction: column;
}

.textbox {
    background-color: transparent;
    background-image: url("/evaEmailFill2.png");
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 40px;
    padding-right: 10px;
}
.textbox:focus {
    color: black; /* Set text color to be visible */
}

.editChildren {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add {
    padding-right: 10px;
}

.phone {
    background-image: url("/phone.png");
    background-position: 10px;
    background-repeat: no-repeat !important;
    padding-left: 20px;
    width: 32em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 40px;
    padding-right: 10px;
}
.phone:focus {
    color: black; /* Set text color to be visible */
}

.zip {
    width: 22em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
}

/* Styling the text area */
#textarea {
    width: 100%;
    resize: none;
    width: 100%;
    height: 8em;
    background-color: rgba(224, 243, 246, 1);
    border-radius: 13px;
    outline: none;
    border: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

/* Spacing the check boxes */
.checkbox {
    margin-bottom: 1em;
}

/* Style of unchecked state of checkbox */
.checkbox input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: rgba(224, 243, 246, 1);
    border: 0px;
    outline: none;
    vertical-align: middle;
}

/* Style the label associated with the checkbox */
.checkbox label {
    vertical-align: middle;
    margin-left: 5px; /* Add some spacing between the checkbox and the label */
}

/* Add styles for the checked state of the checkbox */
.checkbox input[type="checkbox"]:checked {
    background-color: #77dd77; /* Change the background color when checked */
    border: 0px; /* Change the border color when checked */
}

/* -------- SUBMIT BUTTON -------- */

.submitLocation {
    float: right;
}

/* Style submit button */
.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 137, 202, 1);
    height: 3em;
    width: 7em;
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

/*  -------- SCREEN SIZE -------- */

/* Make adjustments to divs based on screen size */

/* Make adjustments to divs based on screen size */
@media screen and (max-width: 752px) {
    .allDivs {
        width: 80%;
    }
}

@media screen and (max-width: 752px) {
    .nameTitles {
        width: 47%;
    }
    .individualNames {
        width: 100%;
    }

    .phone {
        width: 130%;
    }

    .zip {
        width: 100%;
    }
}

@media screen and (max-width: 528px) {
    .phone {
        width: 105%;
    }

    .zip {
        width: 102%;
    }
}
