
.body {
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    
}

.allDivs {
    margin: 0 auto;
    width: 752px;
    position: relative;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom:1em;
}



.accHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.hhhr {
    margin: 0 auto;
    border: none;
    border-top: 2px solid ; /* Set border properties */
    color: rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
}

/* Style for first and last name text boxes */
.individualNames {
    width: 27em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius:13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:1em;
}

/* Row ordering for name text boxes */
.textNames {
    /* margin: 0 auto; Add this line to center the container horizontally */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    /* margin: 0 auto; */
}

.nameTitles {
    display: flex;
    flex-direction: column;
    
}

.numTitles {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}


.personal {
    display: flex;
    flex-direction: column;
    margin-top:1em;
}

.textbox {
    background-color: transparent ;
    background-image: url("../assets/evaEmailFill2.png");
    background-position: 10px ;
    background-repeat:no-repeat;
    padding-left:20px;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius:13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 40px;    
    padding-right: 10px;
    margin-top: 1em;
}
.textbox:focus {
    color: black; /* Set text color to be visible */
}


.editChildren {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:.5em;
}

.add {
    padding-right: 10px;
}

.additional {
    margin-top: 1em;
}

.phone {
    background-image: url("/phone.png");
    background-position: 10px;
    background-repeat:no-repeat;
    width: 27em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius:13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:1em;
}
.phone:focus {
    color: black; /* Set text color to be visible */
}



.zip {
    width: 22em;
    height: 3em;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius:13px;
    outline: none;
    border: 1px solid #cdcdcd;
    transition: width 0.3s ease;
    margin-top: 1em;
}


/* Styling the text area */
#textarea {
    width: 100%;
    resize: none;
    width: 100%;
    height: 8em;
    background-color: rgba(224, 243, 246, 1);
    border-radius:13px;
    outline: none;
    border: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: .5em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.labelSpace {
    margin-bottom:1em;
}

/* Spacing the check boxes */
.checkbox {
    margin-top:1em;
    margin-bottom: 1.2em;
}

/* Style of unchecked state of checkbox */
.checkbox input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: rgba(224, 243, 246, 1);
    border: 0px;
    outline: none;
    vertical-align: middle;
}

/* Style the label associated with the checkbox */
.checkbox label {
    vertical-align: middle;
    margin-left: 5px; /* Add some spacing between the checkbox and the label */
}

/* Add styles for the checked state of the checkbox */
.checkbox input[type="checkbox"]:checked {
    background-color: #77DD77; /* Change the background color when checked */
    border: 0px ; /* Change the border color when checked */
}

/* -------- SUBMIT BUTTON -------- */

.submitLocation {
    float: right;
}

/* Style submit button */
.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 137, 202, 1);
    color: rgba(255, 255, 255, 1);

    height: 3em;
    width: 7em;
    border-radius: 13px;
    outline: none;
    border: 1px solid #cdcdcd;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


/*  -------- SCREEN SIZE -------- */


/* Make adjustments to divs based on screen size */
@media screen and (max-width: 857px) {
    .allDivs {
        width: 90%;
    }

}

@media screen and (max-width: 752px) {
    .allDivs {
        width: 80%;
    }
    .individualNames {
        width: 20em;
    }
    .phone {
        width: 20em;
    }

}

@media screen and (max-width: 683px) {
    .allDivs {
        width: 70%;
    }
    .individualNames {
        width: 15em;
    }
    .phone {
        width: 15em;
    }

}

@media screen and (max-width: 600px) {
    
    .individualNames {
        width: 12em;
    }
    .phone {
        width: 12em;
    }

}

@media screen and (max-width: 564px){
    .allDivs {
        width: 65%;
    }
    .individualNames {
        width: 10em;
    }
    .phone {
        width: 10em;
    }
}
