.background {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background > img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.background > span {
    position: absolute;
    max-width: 1000px;
    padding: 0px 32px;
}

.background > span > h1 {
    color: white;
    text-align: center;
    font-size: 64px;
    margin-bottom: 12px;
}

.background > span > h2 {
    color: white;
    text-align: center;
    font-size: 32px;
}

@media (max-width: 1000px) {
    .background > span > h1 {
        font-size: 36px;
    }

    .background > span > h2 {
        font-size: 24px;
    }
}
