.loginContainer {
    background-color: white;
    width: 100vw;
    position: relative;
    /* Make sure this is relative so absolute children relate to it */
    overflow: hidden;
    /* This will ensure no child elements stick out */
 }
 
 
 .topRectangle {
    position: absolute;
    width: 100%;
    /* Full width of the parent container */
    background-color: white;
    /* Ensures the background is white */
 }
 

 
 .forgotPasswordLink {
    position: absolute;
    width: 184px;
    height: 36px;
    left: 458px;
    top: 606px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21.378px;
    line-height: 26px;
    color: #122286;
    text-decoration: underline;
    cursor: pointer;
 }
 
 
 .box {
    position: absolute;
    width: 519px;
    height: 432px;
    left: 163px;
    top: 427.5px;
    background: #93BCE1;
    box-shadow: 0px 4.27559px 4.27559px rgba(0, 0, 0, 0.25), 0px 4.27559px 4.27559px rgba(0, 0, 0, 0.25);
    border-radius: 16.0335px;
 }
 
 
 .minilogo {
    position: absolute;
    width: 359px;
    height: 92px;
    left: 243px;
    top: 312px;
 }
 
 
 .email {
    position: absolute;
    width: 133px;
    height: 59px;
    left: 209px;
    top: 452px;
 
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2047px;
    line-height: 41px;
 
 
    color: #000000;
 }
 
 
 .pw {
 
 
    position: absolute;
    width: 255px;
    height: 59px;
    left: 209px;
    top: 594px;
 
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2047px;
    line-height: 41px;
 
 
    color: #000000;
 }
 
 
 
 
 .username {
    /* Rectangle 78 */
 
 
    position: absolute;
    width: 426px;
    height: 60px;
    left: 209px;
    top: 511px;
 
 
    background: #FFFFFF;
    border-radius: 10.689px;
 
 
 }
 
 
 .logo {
    position: absolute;
    left: 80%;
    /* Center horizontally relative to the parent element */
    top: 50%;
    /* Center vertically relative to the parent element */
    transform: translate(-50%, -50%);
    /* Adjusts the positioning to truly center the element */
    max-width: 50vw;
    /* Sets a maximum width relative to the viewport width */
 
 
 }
 
 
 .submitButtonContainer {
    position: absolute;
    width: 242px;
    height: 60px;
    left: 286px;
    top: 741px;
    background: #FFFFFF;
    border-radius: 10.689px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 
 .logoImage {
    position: absolute;
    width: 48px;
    height: 60px;
    left: 0;
    top: 0;
    background: url("/image 6.svg");
 }
 
 
 .submitText {
    position: absolute;
    width: 292px;
    height: 52px;
    left: 60px;
    /* Adjust based on the logo width */
    top: 4px;
    /* Adjust based on the logo height */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2047px;
    line-height: 41px;
    color: #000000;
 }
 
 
 
 
 .genLink {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #122286;
    text-decoration: underline;
    cursor: pointer;
 }
 
 
 .bottomText {
    position: absolute;
    width: 494px;
    height: 28px;
    left: 199px;
    top: 818px;
 
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
 
 
    color: #000000;
 }
 
 
 .menuContainer {
    position: absolute;
    left: 0;
    top: 50%;
    /* Adjust if necessary */
    transform: translateY(-50%);
    /* Center vertically */
    margin-left: 5%;
    z-index: 99999;
 }
 
 
 .menuItems {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 76px;
    height: 14px;
    left: 45px;
    border-radius: 15px;
    z-index: 999;
 
 }
 
 
 .bodyContainer {
    position: relative;
    width: 100%;
    /* Set width to 100% of the viewport width */
    height: 100vh;
    /* Set height to 100% of the viewport height */
    display: flex;
    /* Use flexbox to center children */
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
    margin: 0;
    /* Reset any default margin */
    padding: 0;
    /* Reset any default padding */
 }
 
 
 #centeredImage {
    max-width: 100%;
    /* Ensures the image is responsive and fits within the container */
    height: auto;
    /* Maintain aspect ratio */
 }
 