
.topRectangle {
  display: flex;
  align-items: center;
  /* Add other styles for topRectangle here */
  position: relative; /* Make the topRectangle a relative positioning context */
}

.logo {
  margin-left: 10px; /* Adjust the margin */
  position: absolute; /* Use absolute positioning for the logo */
  right: 0; /* Position the logo at the right edge of the topRectangle */
  top: 25%; /* Position the logo at the top edge of the topRectangle */
  /* Add other styles for the logo here */
}

.menuContainer{
  position: absolute; /* Use absolute positioning for the logo */
  left: 0; /* Position the logo at the right edge of the topRectangle */
  top: 35%;
  margin-left: 5%;
}
.menuItems{
  display: block;
  display: block;
  margin-bottom: 10px;
  width: 76px;
  height: 14px;
  left: 45px;
  border-radius: 15px;

}