.calendarBox {
    width: 35%;
    /* max-width: 600px; */
}

.registeredContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-top: 20px;
    margin-bottom: 20px;
}

.eventRegisteredBox {
    background-color: #0E8FCC; /* Blue background */
    padding: 10px;
    border-radius: 15px; /* Circular edges */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    width: fit-content;
    justify-content: left;
    display: flex;
    /*margin-bottom: 20px;*/
}

.noEventsContainer {
    display: flex;
    flex-direction: row;
    background-color: #AACDEE;
    justify-content: flex-start;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    width: 30%;
    margin-top: 10px; /* Space below the Events Registered header */
}
.noEventsText {
    padding-left: 10%;
}

.eventNewBox {
    background-color: #0E8FCC; /* Blue background */
    padding: 10px;
    border-radius: 15px; /* Circular edges */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    width: fit-content;/*30%;*/
    justify-content: left;
    display: flex;
    margin-bottom:2%;
}
.todayBox {
    background-color: #0E8FCC; /* Blue background */
    padding: 10px;
    border-radius: 15px; /* Circular edges */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    width: fit-content;
    justify-content: left;
    display: flex;
    margin-bottom: 20px;
}
.upcomingBox {
    background-color: #0E8FCC; /* Blue background */
    padding: 10px;
    border-radius: 15px; /* Circular edges */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    width: fit-content;
    justify-content: left;
    display: flex;
    margin-bottom: 20px;
}
.calendarDiv {
    margin-bottom: 10%;
}