.popupButton {
    background: #0e8fcc;
    border: none;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    font-size: 38px;
    margin: -22px 5px -22px 0px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Inter";
    z-index: 100;
}

.repeatSection {
    color:white;
}

.popupInner {
    position: relative;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    background: #aacdee;
    border-radius: 10px;
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.closeButton > img {
    width: 18px;
    height: 18px;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.inputBox {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
}

.descriptionInput {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    overflow-y: auto;
    text-align: left;
    vertical-align: top;
    outline: none;
}

.charCounter {
    font-size: 12px;
    margin-bottom: 15px;
}

.title {
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.maxTitle {
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.submitCancelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitCancelButton {
    width: 100px;
    height: 32px;
    border-radius: 12px;
    border: none;
    background: #000c79;
    color: white;
    font-size: 14.75px;
    display: inline-block;
    margin: 0 50px;
    padding: 1px;
}

.calendar {
    background-color: white;
    border: none;
    border-radius: 15px;
}

.timePicker {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.timeInput,
.maxInput {
    width: 40px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.colon,
.dash {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.periodButton {
    padding: 5px 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.calendar {
    background: white;
    align-items: center;
}

.calendarCaption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendarMonth,
.calendarYear {
    width: 50%;
    height: 50%;
    padding: 5px;
    margin: 0 20px;
    color: darkblue;
    font-weight: bold;
    border: 1px solid darkblue;
    border-color: darkblue;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.monthPicker,
.yearPicker {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    width: 30%;
    height: 100px;
    cursor: pointer;
    overflow: scroll;
}

.monthPicker div:hover,
.yearPicker div:hover {
    background-color: #f0f0f0;
}

.selectedDay {
    background-color: #000c79 !important;
    color: white !important;
    border-radius: 50%;
}

.deleteText {
    padding-bottom: 16px;
    font-size: 30px;
    color: white;
    align-items: center;
    text-align: center;
}

.confirmButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmButton,
.sendButton {
    width: 100px;
    height: 32px;
    border-radius: 12px;
    border: none;
    background: #000c79;
    color: white;
    font-size: 14.75px;
}

.messageInputBox {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
}

.sendButtonContainer {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: 16px;
}

.maxSelect {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
